footer {
  padding: 40px 5%;
  width: 100%;
  position: relative;
}
.footer__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footer__social-media {
  display: flex;
  align-items: center;
}
.footer__social-media img {
  margin-right: 26px;
}
.footer__input-field input {
  width: 95%;
  border-radius: 48px;
  height: 40px;
  padding-left: 20px;
  border: none;
}
.footer__btn {
  width: 70%;
  height: 40px;
  border-radius: 48px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__btn--link {
  font-family: "Gilroy-Bold";
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
.footer__text {
  display: flex;
  align-items: center;
}
.footer__text p {
  font-family: "Gilroy-Regular";
  font-size: 14px;
  line-height: 16px;
  color: #bebebe;
}
.gift-box {
  position: absolute;
  bottom: 70px;
  right: 23px;
}
@media (max-width: 992px) {
  .footer__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .footer__btn {
    order: -1;
  }
  .gift-box {
    bottom: 80px;
    right: 16px;
  }
}
@media (max-width: 768px) {
  .footer__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .footer__social-media {
    display: flex;
    justify-content: center;
  }
  .footer__input-field input {
    width: 100%;
  }
  .footer__btn {
    width: 100%;
  }
  .gift-box {
    bottom: 14px;
    right: 16px;
  }
  .gift-box img {
    height: 40px;
    width: 40px;
  }
  .footer__text {
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 592px) {
  .footer__btn {
    order: 0;
  }
  .footer__text {
    text-align: start;
  }
}