@import url(./base.css);
@import url(./notification_bar.css);
@import url(./navigation.css);
@import url(./footer.css);

/* Banner */
.banner {
  background: #000000;
  
}
.banner-container {
  color: white;
  height: 85rem;
  width: 100%;
  padding: 6% 5%;
  position: relative;
}
.banner__row {
  display: flex;
  height: 100%;
}
.banner__text__container {
  width: 50%;
  height: 100%;
  margin-top: 50px;
}
.banner__logo {
  margin-top: 5rem;
}
.banner__text {
  font-family: "Gilroy-Regular";
  font-size: 56px;
  line-height: 142.83%;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 100;
  margin: 3.7rem 0 8rem 0;
  width: 100%;
  /* border: 2px solid red; */
}
.banner__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.6rem;
  width: 26.5rem;
  border-radius: 4rem;
  background-color: #ffffff;
  position: absolute;
  bottom: 16%;
}
.banner__btn--link {
  font-family: "Gilroy-Bold";
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
.banner__img__container {
  width: 50%;
  /* border: 2px solid green; */
  display: flex;
  justify-content: flex-end;
}
.banner__img {
  width: 85%;
  object-fit: contain;
  /* border: 2px solid yellow; */
}
@media (max-width: 1150px) {
  .banner__text {
    font-size: 53px;
    letter-spacing: 0.4em;
    line-height: 120%;
    margin: 3.7rem 0 8rem 0;
    width: 100%;
  }
  .banner__img__container {
    margin-top: -100px;
  }
  .banner__btn {
    bottom: 30%;
  }
}
@media (max-width: 992px) {
  .banner__text {
    font-size: 50px;
    letter-spacing: 0.2em;
    line-height: 130%;
    margin: 3.7rem 0 8rem 0;
    width: 100%;
  }
  .banner__img__container {
    margin-top: -80px;
  }
}
@media (max-width: 768px) {
  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .banner__row {
    flex-direction: column;
  }
  .banner__text__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .banner__text {
    font-size: 40px;
    letter-spacing: 0.4em;
    line-height: 140%;
    width: 100%;
  }
  .banner__img__container {
    width: 100%;
    justify-content: center;
    margin-top: 0;
  }
  .banner__img {
    width: 70%;
  }
  .banner__btn {
    position: static;
    width: 100%;
    margin-top: 5rem;
  }
}
@media (max-width: 592px) {
  .banner__text {
    font-size: 28px;
    line-height: 148%;
    margin-bottom: 4rem;
  }
}
@media (max-width: 360px) {
  .banner__text {
    font-size: 24px;
  }
}

/* Porfolio */
.portfolio {
  padding: 41px 5% 51px 5%;
}
.portfolio__title {
  font-family: "Gilroy-Bold";
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #8f8f8f;
  text-align: center;
  margin-bottom: 20px;
}
.portfolio__logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.portfolio__logo {
  object-fit: cover;
  width: 130px;
  height: 100%;
}
.portfolio__img {
  width: 100%;
}
@media (max-width: 768px) {
  .portfolio__logo {
    width: 120px;
  }
}

/* media-banner */

.media-banner__row {
  display: flex;
  width: 100%;
  position: relative;
}
.media-banner__text__container {
  display: flex;
  align-items: center;
}
.media-banner--position {
  background: #ffffff;
  width: 40%;
  position: absolute;
  padding: 86px 81px;
}
.media-banner__text {
  margin-bottom: 40px;
  margin-top: 24px;
}
.media-banner__btn {
  margin-bottom: 8rem;
}
.media-banner__img {
  width: 65%;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.media-banner__img img {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 1350px) {
  .media-banner--position {
    background: #ffffff;
    width: 50%;
    position: absolute;
    padding: 60px 50px;
  }
  .media-banner__btn {
    margin-bottom: 4rem;
  }
}
@media (max-width: 1150px) {
  .media-banner--position {
    background: #ffffff;
    width: 50%;
    position: absolute;
    padding: 30px 30px;
  }
  .media-banner__btn {
    margin-bottom: 3rem;
  }
}
@media (max-width: 992px) {
  .media-banner__container {
    background: #ffffff;
  }
  .media-banner__row {
    flex-direction: column-reverse;
  }
  .media-banner__img {
    width: 100%;
    margin: 0;
  }
  .media-banner--position {
    position: static;
    width: 100%;
    padding: 0 5%;
  }
  .media-banner__title {
    font-size: 24px;
    margin-top: 2rem;
  }
  .media-banner__text {
    margin: 16px 0 40px 0;
  }
}

@media (max-width: 768px) {
  .media-banner__title {
    font-size: 24px;
  }
  .media-banner__btn {
    display: none;
  }
}

/* media-banner second */
.media-banner__row--second {
  display: flex;
  width: 100%;
  position: relative;
}
.media-banner__position--second {
  background: #ffffff;
  width: 40%;
  position: absolute;
  right: 0;
  padding: 86px 81px;
}
.media-banner__img--second {
  width: 65%;
  margin: 30px 0;
}
.media-banner__img--second img {
  width: 100%;
  object-fit: cover;
}
.media-banner__text__container--second {
  display: flex;
  align-items: center;
}

@media (max-width: 1350px) {
  .media-banner__position--second {
    background: #ffffff;
    width: 50%;
    position: absolute;
    padding: 60px 50px;
  }
}
@media (max-width: 1150px) {
  .media-banner__position--second {
    background: #ffffff;
    width: 50%;
    position: absolute;
    padding: 30px 30px;
  }
}
@media (max-width: 992px) {
  .media-banner__container--second {
    background-color: #ffffff;
  }
  .media-banner__row--second {
    flex-direction: column;
  }
  .media-banner__img--second {
    width: 100%;
    margin: 0;
  }
  .media-banner__position--second {
    position: static;
    width: 100%;
    padding: 0 5%;
  }
  .media-banner__second__btn {
    margin-bottom: 2rem;
  }
}
@media (max-width: 450px) {
  .media-banner__position--second {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* razor-banner */
.razor-banner {
  width: 100%;
  display: flex;
}
.razer-banner__img__container {
  width: 50%;
}
.razer-banner__img__container img {
  width: 100%;
  object-fit: cover;
}
.razor-banner__text__container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.razor-banner__text--child {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.razor-banner__paragraph {
  margin: 24px 0 40px 0;
}
@media (max-width: 1200px) {
  .razor-banner__text--child {
    width: 80%;
  }
}
@media (max-width: 992px) {
  .razor-banner {
    flex-direction: column;
  }
  .razor-banner__text__container {
    width: 100%;
  }
  .razer-banner__img__container {
    width: 100%;
  }
  .razor-banner__text--child {
    width: 100%;
    padding: 0 5%;
    text-align: start;
    align-items: flex-start;
    margin: 2rem 0;
  }
  .razor-banner__title {
    font-size: 24px;
  }
}
@media (max-width: 450px) {
  .razor-banner__text--child {
    align-items: center;
  }
}

/* video */
.video__container {
  width: 100%;
  padding: 30px 5%;
  position: relative;
}
.video__carousel {
  width: 100%;
  overflow-x: hidden;
}
.video__play-container {
  position: relative;
  overflow: hidden;
}
.video__play-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slick-track {
  display: flex;
  /* height: 90vh; */
}
.slick-initialized .slick-arrow {
  display: none !important;
}
.slick-dots {
  display: flex;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slick-dots li {
  list-style: none;
}

.slick-dots li button:before {
  position: absolute;
  content: "";
  width: 170px;
  height: 1px;
  background-color: #f3f3f5;
  transform: translate(-50%, -50%);
}
.slick-dots li button {
  width: 170px;
  border: none;
  font-size: 0;
  background-color: #f3f3f5;
}

.slick-dots li.slick-active button::before {
  background-color: #000000 !important;
}

.play__btn {
  width: 8rem;
  height: 8rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
@media (max-width: 992px) {
  .slick-dots li button:before {
    width: 100px;
  }
  .slick-dots li button {
    width: 100px;
  }
}
@media (max-width: 768px) {
  .video__container {
    padding: 0;
  }
  .video__play-container {
    height: 60vh;
  }
  .play__btn {
    width: 6rem;
    height: 6rem;
  }
  .slick-dots {
    bottom: 40px;
  }
  .slick-dots li button {
    width: 70px;
  }
  .slick-dots li button:before {
    width: 70px;
  }
}
@media (max-width: 450px) {
  .play__btn {
    width: 4rem;
    height: 4rem;
  }
  .slick-dots {
    bottom: 35px;
  }
  .slick-dots li button {
    width: 50px;
  }
  .slick-dots li button:before {
    width: 50px;
  }
}
/* product */

.products {
  padding: 30px 5% 53px 5%;
}
.products__row {
  display: grid;
  width: 100%;
  grid-template-columns: 33% 33% 33%;
  justify-content: center;
  gap: 16px;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.product__title {
  font-family: "Gilroy-Bold";
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}
.product__price {
  display: flex;
}
.product__current-price {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}
.product__old-price {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #8f8f8f;
  margin-left: 8px;
}
.product__text {
  width: 90%;
  text-align: center;
  margin-bottom: 46px;
}
.product__img img {
  width: 100%;
}
.product__select-btn {
  margin: 8px 0;
}
.product__select-btn img {
  margin-right: 20px;
}
.product__price {
  margin: 9px 0 16px 0;
}
@media (max-width: 992px) {
  .products__row {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 25px;
  }
  .btn-dark.product__btn {
    border-radius: 0;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .products__row {
    grid-template-columns: 100%;
  }
  .product__text {
    margin-bottom: 20px;
  }
}

.blade__quote {
  width: 100%;
  height: 56.5rem;
  display: flex;
  align-items: center;
}

.quote__container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 5%;
}
.quote__text {
  font-family: "Gilroy-Regular";
  font-weight: 100;
  font-size: 28px;
  line-height: 140%;
  width: 80%;
  text-align: center;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 40px;
}
.quote__owner {
  font-family: "Gilroy-Regular";
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #bebebe;
}
@media (max-width: 768px) {
  .blade__quote {
    height: 40rem;
  }
}
@media (max-width: 592px) {
  .blade__quote {
    height: 30rem;
  }
  .quote__text {
    font-size: 20px;
    margin-bottom: 25px;
  }

  .quote__container {
    width: 100%;
  }
}

.testimonial {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.testimonial__img {
  width: 100%;
  height: 80vh;
}
.testimonial__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}
.testimonial__row {
  display: flex;
  margin: 69px 0 49px 0;
  width: 70%;
  justify-content: center;
  gap: 100px;
}

.testimonial__description {
  width: 25%;
}
.testimonial__title {
  font-family: "Gilroy-Bold";
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  text-align: center;
}
.testimonial__text {
  font-family: "Gilroy-Regular";
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #404042;
  margin-top: 8px;
}

@media (max-width: 992px) {
  .testimonial__row {
    margin: 40px 0 40px 0;
    width: 85%;
    gap: 30px;
  }
  .testimonial__description {
    width: 35%;
  }
}

@media (max-width: 592px) {
  .testimonial__row {
    flex-direction: column;
    align-items: center;
  }
  .testimonial__img {
    height: 60vh;
  }
  .testimonial__img img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
  }
  .testimonial__description {
    width: 80%;
    padding-bottom: 30px;
  }
  .testimonial__description:not(:last-child) {
    border-bottom: 1px solid #f3f3f5;
  }
}
