.nav {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 10%;
}
.nav__check {
  display: none;
}
.nav__hamburger {
  display: none;
  cursor: pointer;
}
.nav__links {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 7.2;
}
.nav__item a {
  font-family: "Gilroy-Regular";
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
  
}
.nav__item:not(:last-child) {
  margin-right: 7.2rem;
}
.navbar__icon {
  display: flex;
  gap: 40px;
}
@media (max-width: 1300px) {
  .nav {
    padding: 0 6%;
  }
  .nav__item:not(:last-child) {
  margin-right: 5rem;
}
}
@media (max-width: 992px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 7%;
  }
  .nav__hamburger {
    display: block;
    text-transform: uppercase;
    position: absolute;
    left: 9%;
    z-index: 9999;
  }
  .navbar__icon {
    margin-right: 5%;
    gap: 16px;
  }
  .nav__item a {
    font-size: 12px;
    justify-content: center;
    padding: 1rem 0;
    margin-right: 0;
  }
  .nav__item:not(:last-child) {
  margin-right: 0;
}
  .nav__logo {
    position: absolute;
    left: 50%;
  }
  .nav__check:checked ~ .nav__bar {
    transform: translateX(0);
  }
  .nav__bar {
    background-color: #1e1e1e;
    justify-content: center;
    z-index: 9999;
    position: fixed;
    align-items: center;
    top: 0;
    height: 100vh;
    right: 0;
    width: 70vw;
    max-width: 400px;
    margin: 0;
    transform: translateX(100vw);
    transition: transform 0.3s ease;
    display: flex;
    text-align: center;
  }
  .nav__item {
    margin-top: 30px;
  }

  .nav__layer-blur {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    backdrop-filter: blur(8px);
    background-color: #0002;
    transition: opacity 0.3s ease;
  }
  .nav__check:checked ~ .nav__layer-blur {
    visibility: visible;
    opacity: 1;
  }
  .nav__links {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .nav {
    padding: 0;
  }
  .nav__hamburger {
    left: 5%;
  }
}