@import url(./base.css);
@import url(./navigation.css);
@import url(./footer.css);
@import url(./cart.css);

.d__product__row {
  display: flex;
  height: auto;
}
.d__product__carousel {
  width: 50%;
  display: flex;
  align-items: center;
}
.d__product__img {
  width: 100%;
}

.d__product__img img {
  margin: auto;
}
.d__product__details {
  width: 50%;
  background-color: #f3f3f5;
}
.details__padding {
  margin: 75px 90px;
}
.details__title-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.details__title {
  font-family: "Gilroy-Bold";
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}
.details__price {
  font-family: "Gilroy-Bold";
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: black;
  margin-right: 20px;
}
.details__price-old {
  display: none;
  font-family: "Gilroy-Regular";
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #bebebe;
  margin-right: 20px;
}
.details__rating {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 8px;
}
.details__review {
  font-family: "Gilroy-Regular";
  font-size: 14px;
  line-height: 16px;
  margin-left: 16px;
}
.details__bonus {
  display: flex;
  align-items: center;
}
.details__bonus p {
  margin-right: 32px;
  font-family: "Gilroy-Regular";
  font-size: 16px;
  line-height: 24px;
}
.details__bonus img {
  margin-top: -8px;
}
.details__description-text {
  font-family: "Gilroy-Regular";
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
  margin-bottom: 23px;
}
.details__color {
  display: flex;
  font-family: "Gilroy-Regular";
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 8px;
}
.details__color p {
  margin-right: 8px;
}
.details__select img {
  margin-right: 23px;
}
.details__select--text {
  font-family: "Gilroy-Regular";
  font-size: 14px;
  line-height: 16px;
  margin-top: 23px;
}
.d__product__checked {
  position: relative;
  margin: 10px 0 0;
}
.d__product__checked input[type="radio"] {
  display: none;
}
.d__product__checked .d__subscription-price::before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 1px solid #aaaaaa;
  background-color: transparent;
  cursor: pointer;
}
.d__product__checked
  input[type="radio"]:checked
  + .d__subscription-price::after {
  border-radius: 11px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 9px;
  left: 4px;
  content: " ";
  display: block;
  background-color: #404042;
}
.d__subscription-price {
  font-family: "Gilroy-Regular";
  font-size: 16px;
  line-height: 24px;
}
.details__cream-row {
  display: flex;
  justify-content: space-around;

  gap: 16px;
  margin: 50px 0 16px 0;
  flex-wrap: wrap;
}
.details__cream-cart {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 140px;
}
.cream__cart-img {
  margin: 19px 0 16px 0;
}
.cream__cart-text {
  font-family: "Gilroy-Regular";
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  width: 85%;
}
.cream__cart-price {
  font-family: "Gilroy-Regular";
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #404042;
  margin: 12px 0 8px 0;
}
.shipping__row {
  margin-bottom: 43px;
}
.shipping__row,
.shipping__row span {
  display: flex;
  justify-content: space-between;
  font-family: "Gilroy-Regular";
  font-size: 14px;
  line-height: 16px;
}
.shipping__text-bold {
  font-family: "Gilroy-Bold";
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  margin-right: 8px;
}
.shipping__row img {
  margin-right: 15px;
}
.details_inactive {
  display: flex;
  align-items: center;
}
.details_inactive-text {
  font-family: "Gilroy-Regular";
  font-size: 16px;
  line-height: 24px;
  margin-left: 8px;
}
.details__input input {
  width: 100%;
  border: none;
  outline: none;
  height: 42px;
  margin: 16px 0 8px 0;
  padding-left: 16px;
}
::placeholder {
  font-family: "Gilroy-Regular";
  font-size: 14px;
  line-height: 16px;
  color: #bebebe;
}
.input__text-characters {
  font-family: "Gilroy-Regular";
  font-size: 14px;
  line-height: 16px;
}
.details__add-to-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bebebe;
  height: 8rem;
  cursor: pointer;
}
.add-to-btn__link {
  font-family: "Gilroy-Bold";
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}
.details__refund-text {
  display: none;
}

.ads__banner-container,
.ads__banner-container--second {
  display: flex;
}
.ads__banner__img {
  width: 50%;
}
.ads__banner__img img {
  width: 100%;
  height: 100%;
}
.ads__banner {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.ads__banner h2 {
  font-family: "Gilroy-Bold";
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  width: 65%;
  color: #ffffff;
}
.ads__banner p {
  font-family: "Gilroy-Regular";
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  width: 80%;
  margin: 24px 0 40px 0;
}

/* product */

.products {
  padding: 30px 5% 53px 5%;
}
.products__title {
  font-family: "Gilroy-Bold";
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #000000;
  margin: 60px 0 30px 0;
}
.products__row {
  display: grid;
  width: 100%;
  grid-template-columns: 33% 33% 33%;
  justify-content: center;
  gap: 16px;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.product__title {
  font-family: "Gilroy-Bold";
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}
.product__price {
  display: flex;
}
.product__current-price {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}
.product__old-price {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #8f8f8f;
  margin-left: 8px;
}
.product__img img {
  width: 100%;
}
.product__select-btn {
  margin: 8px 0;
}
.product__select-btn img {
  margin-right: 20px;
}
.product__price {
  margin: 9px 0 16px 0;
}


@media (max-width: 992px) {
  .products__title {
    font-size: 32px;
    text-align: center;
    margin: 20px 0 50px 0;
    line-height: 30px;
  }
  .products__row {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 25px;
  }
  .btn-dark.product__btn {
    border-radius: 0;
    width: 100%;
  }
  .product__disappear {
    display: none;
  }

  .d__product__row {
    flex-direction: column;
  }
  .details__title {
    font-size: 24px;
  }
  .d__product__img img {
    width: 30%;
  }
  .d__product__carousel {
    width: 100%;
    display: initial;
  }
  .d__product__details {
    width: 100%;
  }
  .details__color-for-tablet {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
  }
  .select__plan {
    margin-right: 50px;
  }
  .details__color {
    margin-top: -16px;
    margin-bottom: 20px;
  }
  .slick-dots {
    display: flex;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .slick-dots li {
    list-style: none;
  }

  .slick-dots li button:before {
    position: absolute;
    content: "";
    width: 150px;
    height: 1px;
    background-color: #ffffff;
    transform: translate(-50%, -50%);
  }
  .slick-dots li button {
    width: 150px;
    border: none;
    font-size: 0;
    background-color: #ffffff;
  }

  .slick-dots li.slick-active button::before {
    background-color: #000000 !important;
  }
}
@media (max-width: 768px) {
  .products__title {
    font-size: 24px;
  }

  .ads__banner-container {
    flex-direction: column;
  }
  .ads__banner-container--second {
    flex-direction: column-reverse;
  }
  .ads__banner {
    width: 100%;
    height: 50vh;
  }
  .ads__banner__img {
    width: 100%;
  }
  .ads__banner h2 {
    font-size: 24px;
    margin-top: 50px;
  }
}

@media (max-width: 592px) {
  .d__product__img img {
    width: 50%;
  }
  .details__price {
    margin-top: 20px;
  }
  .details__price-old {
    display: block;
  }
  .details__padding {
    margin: 30px 4% 0 4%;
  }
  .details__refund-text {
    display: block;
    font-family: "Gilroy-Regular";
    font-size: 14px;
    line-height: 16px;
    margin: 30px 0;
  }
  .details__color-for-tablet {
    display: block;
  }
  .shipping__row {
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 30px 0;
  }
  .shipping__row img {
    display: none;
  }
  .shipping__text {
    margin-bottom: 10px;
  }
  .slick-dots {
    bottom: -25px;
  }
  .slick-dots li button {
    width: 90px;
  }
  .slick-dots li button:before {
    width: 90px;
  }
}
